* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #131313;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

main {
  margin: 0;
  padding: 0;
}

section {
  margin: 10px auto;
  padding: 2rem;
  width: 80%;
}

.grid {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-template-columns: repeat(3, 125px);
  gap: 0.2rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pc-button {
  display: none;
}

.hide {
  display: none;
}

button {
  font-size: 1rem;
  color: hsl(209, 61%, 16%);
  border-radius: 0.5rem;
  border: 3px solid hsl(360, 67%, 44%);
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bold;
  margin: 0 5px;
  transition: all 0.3s ease-in;
}

.card {
  cursor: pointer;

  width: 125px;
  height: 125px;
  object-fit: cover;
  padding: 5px;
  position: relative;
  transition: all 0.3s ease-in;
  border: 3px solid hsl(360, 67%, 44%);
  border-radius: 10px;
  background: #fefefe;
}

.card:hover,
button:hover {
  transform: scale(1.05);
}

.card-text {
  font-size: 80px;
  font-weight: bold;
  color: hsl(205, 77%, 27%);
}

.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  position: absolute;
  padding: 3rem;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.modal-content {
  background-color: #fefefe;
  margin: 20% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 5px solid #888;
  border-radius: 2rem;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  text-align: center;
  width: 80%; /* Could be more or less, depending on screen size */
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.input-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  background-color: #fefefe;
  padding: 0.2rem;
  border: 2px solid hsl(360, 67%, 44%);
  border-radius: 5px;
}

.input-container select {
  background-color: #fefefe;
  border: none;
}

@media screen and (max-width: 700px) {
  button {
    font-size: 0.7rem;
    border-radius: 4px;
    padding: 1.2px 2.5px;
  }

  .card {
    width: 75px;
    height: 75px;
  }

  .card-text {
    font-size: 40px;
    font-weight: 400;
  }

  .grid {
    grid-template-columns: repeat(3, 75px);
  }

  .input-container {
    width: 80%;
    padding: 0.1rem;
    gap: 5px;
  }

  .input-container select,
  .input-container label {
    font-size: 0.8rem;
  }
}
